<app-header></app-header>
  <ion-card-content class="ion-text-center">
    <ion-text>
      <ion-card-title>¿Estregar Paquete?</ion-card-title>
    </ion-text>
    <ion-card-title>Folio:</ion-card-title>
    <ion-card-subtitle>{{Paquete.tracked}}</ion-card-subtitle>
    <ion-card-title>Cliente receptor:</ion-card-title>
    <ion-card-subtitle>{{Paquete.cliente_receptor}}</ion-card-subtitle>
    <ion-row class="fondo">
      <ion-col>
        <ion-button class="ion-margin-top" (click)="cancelar()" shape="round" expand="full" color="danger">
          cancelar
        </ion-button>
      </ion-col>
  
      <ion-col>
        <ion-button class="ion-margin-top" (click)="realizarmovimiento()" shape="round" expand="full" color="success">
          OK
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
  
  